
          <div class="publications">
            <h2>Selected Publications</h2>
            {% bibliography -f papers -q @*[selected=true]* %}
          </div>

<div class="publications">
	<h2>Honors and Awards</h2>
	<ul class="card-text font-weight-light list-group list-group-flush">
		<li style="list-style-type:none">
			<div class="row">
			<div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
			<span class="badge font-weight-bold info-color text-uppercase align-middle" style="min-width: 75px;">
			2022
			</span>
			</div>
			<div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
			<h6 class="title ml-1 ml-md-4">
			<b>
			Jacobs Excellence Certificate
			</b>
			(Technion)
			</h6>
			<div class="ml-1 ml-md-4">
			For academic excellence and research achievements.
			</div>
			</div>
			</div>
		</li>
		<li style="list-style-type:none">
			<div class="row">
			<div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
			<span class="badge font-weight-bold info-color text-uppercase align-middle" style="min-width: 75px;">
			2021
			</span>
			</div>
			<div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
				<h6 class="title ml-1 ml-md-4">
				<b>
				ACM SIGPLAN Distinguished Paper Award
				</b>
				(OOPSLA 2021)
				</h6>
			<br />
				<h6 class="title ml-1 ml-md-4">
				<b>
				Shimon Even Award
				</b>
				(Technion)
				</h6>
				<div class="ml-1 ml-md-4">
				Outstanding publication award
				</div>
				<br />
			</div>
			</div>
		</li>
		<li style="list-style-type:none">
			<div class="row">
			<div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
			<span class="badge font-weight-bold info-color text-uppercase align-middle" style="min-width: 75px;">
			2019
			</span>
			</div>
			<div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
			<h6 class="title ml-1 ml-md-4">
			<b>
			ECOOP Distinguished Paper Award
			</b>
			(ECOOP 2019)
			</h6>
			<br />
			</div>
			</div>
		</li>
		<li style="list-style-type:none">
			<div class="row">
			<div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
			<span class="badge font-weight-bold info-color text-uppercase align-middle" style="min-width: 75px;">
			2018
			</span>
			</div>
			<div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
			<h6 class="title ml-1 ml-md-4">
			<b>
			Amdocs Prize
			</b>
			(Technion)
			</h6>
			<div class="ml-1 ml-md-4">
			Best undergraduate research project
			</div>
			</div>
			</div>
		</li>
	</ul>
</div>

<div class="publications">
	<h2>Service</h2>
	<ul class="card-text font-weight-light list-group list-group-flush">
		<li style="list-style-type:none">
			<div class="row">
			<div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
			<span class="badge font-weight-bold secondary-color text-uppercase align-middle" style="min-width: 75px;">
			2021
			</span>
			</div>
			<div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
				<h6 class="title ml-1 ml-md-4">
				<b>
				Artifact Evaluation Committee member
				</b>
				(ISSTA 2021)
				</h6>
			</div>
			</div>
		</li>
	</ul>
</div>
